@media screen and (min-width: 1280px) {
    .cabecalho {
        grid-template-columns: 1fr 2fr 1fr;
    }

    .icone__menu {
        display: none;
    }

    .navegacao {
        display: grid;
        justify-content: end;
    }

    .navegacao__perfil {
        display: grid;
        grid-template-columns: auto auto;
        gap: 8px;
        align-items: center;
    }

    .link__perfil{
        text-decoration: none;

    }

    .perfil__nome {
        color: var(--branco);
    }

    .foto__perfil {
        width: 32px;
    }

    .menu {
        display: block;
        margin-top: 40px;
    }

    .menu__lista {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 16px;
    }

    .menu__item {
        display: flex;
        gap: 16px;
        align-items: center;
    }

    .menu__item-icone {
        background-color: var(--azul);
        border-radius: 16px;
        width: 48px;
        height: 48px;
        padding: 16px 14px;
    }

    .comunidade {
        opacity: 0.4;
    }

    .comunidade:hover {
        opacity: 1;
        cursor: pointer;
    }

    .menu__item--texto {
        font-size: 18px;
        color: var(--branco);
    }

    .container__principal {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    .container__direito {
        margin-left: 40px;
    }

    .projeto__descricao {
        width: 100%;
    }

    .personalizacao__opcoes {
        grid-template-columns: 1fr;
    }
}