@media screen and (max-width: 1280px) {
    .navegacao__perfil {
        display: none;
    }

    .menu {
        display: none;
    }
}

@media screen and (min-width: 1280px){
    .cabecalho {
        display: grid;
        grid-template-columns: 25vw 50vw 25vw;
        padding: 0;;
        align-items: center;
    }

    .cabecalho__logo {
        margin-left: 32px;
    }

    .navegacao__pesquisa {
        /* width: 50vw; */
    }

    .container__principal {
        display: grid;
        grid-template-areas: "c1 c2 c3";
        grid-template-columns: 25vw 50vw 25vw;
        
        /* justify-content: space-between; */
    }

    /* .menu {
        display: flex;
    } */

    .btn-menu{
        display: none;
    }

    .navegacao {
        justify-self: end;
        margin-right: 32px;
    }

    .navegacao__perfil {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 0 1rem;
    }

    .perfil__nome {
        color: white;
        font-size: 16px;
    }

    .menu__lista {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .menu__item {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-left: 32px;
        color: white;

        align-self: flex-start;
    }

    .menu__titulo {
        color: white;
        margin: 16px 0 16px 32px;
        font-size: 12px;
        letter-spacing: 0.4rem;
    }

    .menu__item-icone {
        height: 48px;
        width: 48px;
        border-radius: 16px;
        background-color: var(--icone-ativo);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .projeto {
        margin-right: 32px;
    }

    .personalizacao__opcoes {
        display: flex;
        flex-direction: column;
    }


}