* {
    box-sizing: border-box;
}
@media screen and (min-width: 320px){
    .container {
        margin: 24px 16px 40px 16px;
        display: flex;
        flex-direction: column;
    }
    
    .cabecalho {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }


    .navegacao {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .navegacao__pesquisa {
        display: none;
    }

    .navegacao__item {
        justify-self: center;
    }

    .navegacao__perfil {
        display: none;
    }

    .menu {
        display: none;
    }

    .container__codigo {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .container__background {
        background-color: var(--azul-claro);
        padding: 32px;
        border-radius: 8px;
    }

    .container__input {
        background-color: var(--cinza-escuro);
        border-radius: 8px;
        padding: 16px;
    }

    .bolinhas {
        display: flex;
        gap: 8px;
    }

    /* .container__input-conteudo {
        margin-top: 24px;
        background-color: var(--cinza-escuro);
        border: 0;
        color: var(--branco);
        width: 100%;
        max-width: 100%;
    } */

    .preview {
        display: block;
        /* margin-top: 24px; */
        color: var(--branco);
        min-height: 30vh;
        white-space: pre-wrap;
        /* padding: 16px; */
    }


    .btn__highlight {
        height: 56px;
        background-color: var(--azul-transparente);
        border: 0;
        border-radius: 8px;
        font-size: 18px;
        color: var(--branco);
    }

    .input {
        background-color: var(--branco-transparente);
        border: 0;
        border-radius: 8px;
        padding: 16px 14px;
        height: 56px;
        font-size: 16px;
    }

    .input:hover {
        background-color: var(--branco-transparente-hover);
    }

    .projeto {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .titulo {
        color: var(--branco);
        letter-spacing: 0.4rem;
    }
    
    .projeto__descricao {
        height: 80px;
    }

    .personalizacao {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .personalizacao__opcoes {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .personalizacao__cores {
        width: 100%;
        height: 56px;
        border-radius: 8px;
        height: 56px;
        background-color: transparent;
        padding: 8px;
    }

    .btn__salvarProjeto {
        margin-top: 32px;
        background-color: var(--azul);
        border: 0;
        border-radius: 8px;
        height: 56px;
        font-size: 18px;
    }

    .btn__salvarProjeto:hover {
        background-color: var(--azul-hover);
    }

    #codigoComHightlight {
        background-color: aliceblue;
    }

    .highlight {
        background-color: aqua;
    }
}