@media screen and (max-width: 768px){
    .navegacao__pesquisa {
        display: none;
    }

    .personalizacao__opcoes {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) {
    .navegacao__lupa {
        display: none;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .navegacao__pesquisa {
        width: 65%;
    }

    .personalizacao__opcoes {
        display: grid;
        grid-template-columns: 50vw 50vw;
        align-items: center;
    }

}